extends layout

block content
	h1= title
	p Source
		strong &nbsp;#{source}&nbsp;
		| to destination&nbsp;
		input(type='text', name='database')
	div
		p View:&nbsp;
			select#view-list(onchange='getdoc(this.value)')
				option(value=0) ---Selected---
				each view, i in all
					option(value=view) #{view}
			button(onclick='load()', style='margin:0px 5px;') Load
	div
		textarea#editor
	div
		label
			input(type='checkbox', name='backup')
			span Backup All
		button(onclick='backup()', style='margin:0px 5px;') Request


	div(style='color:red')
		label
			input(type='checkbox', name='restore')
			span Restore All to

		button(onclick='restore()', style='margin:0px 5px;') Request