extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		p View:&nbsp;
			select(onchange='getdoc(this.value)')
				option(value=0) ---Selected---
				each view, i in all
					option(value=view) #{view}
	div
		textarea#editor
	div
		label
			input(type='checkbox', name='backup')
			span Backup All
		button(onclick='backup()', style='margin:0px 5px;') Request


	div(style='color:red')
		label
			input(type='checkbox', name='restore')
			span Restore All to
		input(type='text', name='database')

		button(onclick='restore()', style='margin:0px 5px;') Request