body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.CodeMirror {
    height: 600px;
}

.button{
    border: 1px solid #00B7FF;
    padding: 5px 3px 5px 3px;
    margin: 0px 5px;
}